<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script type="text/javascript" src="http://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>


<script type="text/javascript" src="assets/jquery-ui-1.11.0.custom/external/jquery/jquery-1.11.0.js"></script>
<link rel="stylesheet" href="assets/jquery-ui-1.11.0.custom/jquery-ui.css" />
<link rel="stylesheet" href="assets/jquery-ui-1.11.0.custom/jquery-ui.structure.css" />
<link rel="stylesheet" href="assets/colorpicker-master/jquery.colorpicker.css" />
<link rel="stylesheet" href="assets/jquery-ui-1.11.0.custom/jquery-ui.theme.css" />
<script type="text/javascript" src="assets/jquery-ui-1.11.0.custom/jquery-ui.js"></script>
<script type="text/javascript" src="assets/js/anyLine.js"></script>
<script type="text/javascript" src="assets/colorpicker-master/jquery.colorpicker.js"></script>
<script type="text/javascript" src="assets/colorpicker-master/parts/jquery.ui.colorpicker-rgbslider.js"></script>
<script type="text/javascript" src="assets/js/json2.js"></script>
<script type="text/javascript" src="assets/js/canvas.js"></script>


<link href="assets/css/literallycanvas.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
<style type="text/css">
img
    {
        width:20px;
        height:20px;

    }
    .toolbar span{
    color:black;
    font-size:12px;2
    font-weight:light;
    font-family: '微軟正黑體';
    }


    </style>
<%
if(uName == ""){
  %><div class="options"><a href="/register"><img class="btn" src="assets/images/sign_btn.png"/></a> 
<a href="/login"><img class="btn" src="assets/images/login_btn.png"/></a><a href="/"><img class="btn" src="assets/images/index_btn.png"/></a></div><%
}else{
  %>
  <div class="options"><a href="/personal/?id=<%=uNum%>"><img class="btn" src="assets/images/arts_btn.png"/></a>
  <a href="/"><img class="btn" src="assets/images/index_btn.png"/></a></div>
  <%
}

%>

上傳底圖：
<input type="file" id="canvas-bg-image" accept="image/*"/>
<input type="button" id="up-bg-img" onclick="upBgImg();" value="上傳" /><br/>

上傳小圖：
<input type="file" id="canvas-up-image" accept="image/*"/>
<input type="button" id="up-img" onclick="upImg();" value="上傳" /><br/>



<script>
/*-----------------上船底圖---------------------*/

$("#canvas-bg-image").on("change", function(event) {

  var file = event.target.files[0];
  var reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = function(arg) {

  var backgroundImage = new Image();
  backgroundImage.src = arg.target.result;
  console.log('SSSSS: '+backgroundImage);
  console.log(backgroundImage.width);

  var canvas = document.getElementById('myCanvas');
  var width = backgroundImage.width;
  var height = backgroundImage.height;
  var context = canvas.getContext('2d');

  var MAX_WIDTH = 1000;
  var MAX_HEIGHT = 550;

  if (width > height) {
    if (width > MAX_WIDTH) {
      height *= MAX_WIDTH / width;
      width = MAX_WIDTH;
    }
  } else {
    if (height > MAX_HEIGHT) {
      width *= MAX_HEIGHT / height;
      height = MAX_HEIGHT;
    }
  }
  console.log("width:"+width);
  console.log("width:"+height);
  context.drawImage(backgroundImage,0,0,backgroundImage.width,backgroundImage.height,0,0,900,400);


  };

});


</script>

<script>

/*-----------------上船小圖---------------------*/
var dx = 0;
var dy = 0;
$("#canvas-up-image").on("change", function(event) {

var file = event.target.files[0];
  var reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = function(arg) {

  var image = new Image();
  image.src = arg.target.result;
  console.log('SSSSS: '+image);
  console.log(image.width);

  var canvas = document.getElementById('myCanvas');
  var width = image.width;
  var height = image.height;
  var context = canvas.getContext('2d');

  var MAX_WIDTH = 200;
  var MAX_HEIGHT = 200;

  if (width > height) {
    if (width > MAX_WIDTH) {
      height *= MAX_WIDTH / width;
      width = MAX_WIDTH;
    }
  } else {
    if (height > MAX_HEIGHT) {
      width *= MAX_HEIGHT / height;
      height = MAX_HEIGHT;
    }
  }
  console.log("width:"+width);
  console.log("width:"+height);
  context.drawImage(image,dx,dy,width,height);
  dx += width;
  if(dx >= 800){   
  dx = 0;
  dy += 200;
  if(dy >= 400){
      dx =0;
      dy =0;
    }
  }

  console.log("dx:"+dx);
  console.log("dy:"+dy); 


  };
  

});


</script>

------------------------------------------------------------------



<div class="toolbar" style="font-size:14px;"> 
     <fieldset style="float:left;width:250px;">
          <legend>工具</legend>
        <div id="toolsOptions">
          <input type="radio" id="tools_pencil" name="toolsOption" checked="checked"><label for="tools_pencil">畫筆</label> &nbsp;
          <input type="radio" id="tools_eraser" name="toolsOption" ><label for="tools_eraser">橡皮擦</label> &nbsp;
          <input type="radio" id="tools_trash" name="toolsOption"><label  for="tools_trash">清空</label>
          <div style="border-top:1px dashed gray;margin-top:8px;padding-top:8px;"><span>
            <button id="tools_save">save</button>&nbsp;&nbsp;
            <button id="tools_undo">undo</button>&nbsp;&nbsp;
            <button id="tools_redo">redo</button>
          </span></div>
        </div>

      </fieldset>
      <fieldset style="float:left; width:180px;">
        <legend>插入</legend>
        <div><span>
          <input type="radio" id="tools_line" name="toolsOption"><label for="tools_line">直線</label>
          <input type="radio" id="tools_circle" name="toolsOption"><label for="tools_circle">文字</label>
          <div style="border-top:1px dashed gray;margin-top:8px;padding-top:8px;"></div>
        </span></div>
      </fieldset>
      <fieldset style="float:left;width:180px;">
          <legend>線條設置</legend>
          <span style="float: left;margin-top: 6px;">線條粗細: </span>
               <select id="penWidth" >
                   <option value="1" selected>1px</option>
                   <option value="2">2px</option>
                   <option value="4">4px</option>
                   <option value="6">6px</option>
                   <option value="8">8px</option>
                   <option value="12">12px</option>
                   <option value="14">14px</option>
                   <option value="16">16px</option>
                   <option value="18">18px</option>
               </select>
              <div style="border-top:1px dashed gray;margin-top:8px;padding-top:8px;">
          <span>邊框色:<input id="colorpicker-popup" type="text"  value="000000" style="width: 72px;display:none; "></span>&nbsp;
          <span>填充色:<input id="colorpicker-popup2" type="text"  value="fe9810" style="width: 72px;display:none; "></span>
          </div>
       </fieldset>
      <fieldset style="float:left;width:220px;">
          <legend>字體設置</legend>
          <span><span style="float: left;margin-top: 6px;">字體大小 :&nbsp;</span>
              <select id="fontSize"  >
                     <option value="8px" selected>8px</option>
                     <option value="10px">10px</option>
                     <option value="12px">12px</option>
                     <option value="14px">14px</option>
                     <option value="16px">16px</option>
                     <option value="18px">18px</option>
                     <option value="20px">20px</option>
                     <option value="22px">22px</option>
                     <option value="24px">24px</option>
                     <option value="26px">26px</option>
                     <option value="28px">28px</option>
                     <option value="30px">30px</option>
                     <option value="32px">32px</option>
                     <option value="34px">34px</option>
                     <option value="36px">36px</option>
               </select>
               </span>
               <br/>
          <span><span style="float: left;margin-top: 6px;">字體選擇 :&nbsp;</span>              
              <select id="fontType" style="top:20px;" >
                     <option value="宋体" >宋體</option>
                     <option value="微软雅黑">微軟雅黑</option>
                     <option value="仿宋">仿宋</option>
                     <option value="Arial" selected>Arial</option>
                     <option value="Consolas">Consolas</option>
               </select>
          </span>
          <span style="font-weight:bold;"><input type="checkbox" id="boldOption" name="fontOption"><label for="boldOption">B</label></span>
          <span style="font-style: italic;"><input type="checkbox" id="italicOption" name="italicOption"><label for="italicOption">I</label></span>
       </fieldset>
       
       <div style="clear:both;"></div>
  </div>
   
   <div style="position:relative;" id="container">
     <div id="temp" style="border:1px solid gray;width:1px;height:1px;position:absolute;display:none;"></div>
  
  <canvas id="myCanvas" width="880" height="400" class="container_pencil">
    
  </canvas>
  </div>

<span id="show" style="display:none;"></span>







------------------------------------------------------------------

<form class="controls export" name="work" id="work">
  <table>
    <tr><td>取個名字：</td><td><input type="text" name="wName" id="wName" size="54"/></td><tr>
    <tr><td>加點敘述：</td><td><textarea rows="4" cols="50" name="wContent" id="wContent" form="work"></textarea></td><tr>
  </table>
  <input type="hidden" name="wPic" id="wPic" value="" />
  <input type="hidden" name="uNum" value="<%=uNum%>" />
  <input type="hidden" name="uName" value="<%=uName%>" />
  <input type="hidden" name="uAccount" value="<%=uAccount%>" />
  <input class="export" type="button" data-action="export-as-png" value="Export as PNG">
</form>


<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script>

  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
   apiKey: "AIzaSyA33Jnuyt58rnNaddr_O8YmsVmrAn1OmhE",
   authDomain: "supercp-a8e9e.firebaseapp.com",
   databaseURL: "https://supercp-a8e9e.firebaseio.com/",
   storageBucket: "supercp-a8e9e.appspot.com"
 };
  firebase.initializeApp(config);

</script>

<script type="text/javascript">


//---------------------------------輸出圖片--------------------

/*if(imgLen == undefined){
  var imgLen = "<%=imgLen%>";
  console.log("UNDEFINED");
  console.log(imgLen);
}else{
  console.log(imgLen);
}*/

var uName = "<%=uName%>";
var uAccount = "<%=uAccount%>";
var uNum = "<%=uNum%>";


    console.log('gggg');
    $('.controls.export [data-action=export-as-png]').click(function(e) {
    var myCanvas = document.getElementById('myCanvas');

      if(uAccount == ""){
        alert("請先登入!");
      }else{

        var wName = document.getElementById('wName').value;
        var wContent = document.getElementById('wContent').value;
        console.log(wName);
        console.log(wContent);
        e.preventDefault();
          //window.open(lc.getImage().toDataURL());
          console.log("NAURLLLLL:"+myCanvas.toDataURL());
    

        //$('#wPic').val(myCanvas.toDataURL());
        //$( "#work" ).submit();

        saveWork(wName, wContent, myCanvas.toDataURL(), uNum, uAccount, uName, toPersonal);
      }

});

function toPersonal(){
  window.location = "/personal/?id=<%=uNum%>";
}

function saveWork(wName, wContent, wPic, uNum, uAccount, uName, callback){

  var images= new Array();
  var imgNum;
  firebase.database().ref('/images').once('value').then(function(snapshot) {
    images=snapshot.val();
    imgNum = images.length;
    console.log("IMAGELEN:"+imgNum);
   
    firebase.database().ref('images/'+imgNum).set({
      date: Firebase.ServerValue.TIMESTAMP,
      base64: wPic,
      uName: uName,
      uAccount: uAccount,
      wName: wName,
      uId: uNum,
      wContent: wContent
    });
  });

  console.log('logging');
  var person= new Array();
  firebase.database().ref('/'+uAccount).once('value').then(function(snapshot) {
    person=snapshot.val();
    var pNum = person.length;
    firebase.database().ref('/'+uAccount+'/'+pNum).set({
      date: Firebase.ServerValue.TIMESTAMP,
      base64: wPic,
      uName: uName,
      uAccount: uAccount,
      wName: wName,
      uId: uNum,
      wContent: wContent,
      totalId: imgNum
    });
  });
setTimeout(function () {
  callback();
}, 10000)

  
}




</script>