<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script type="text/javascript" src="http://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

<link href="assets/css/literallycanvas.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
<style type="text/css">
      .fs-container {
        width: 1000px;
        margin: auto;
      }

      .literally {
        width: 100%;
        height: 75%;
        position: relative;
      }

    </style>
<%
if(uName == ""){
  %><div class="options"><a href="/register"><img class="btn" src="assets/images/sign_btn.png"/></a> 
<a href="/login"><img class="btn" src="assets/images/login_btn.png"/></a><a href="/"><img class="btn" src="assets/images/index_btn.png"/></a></div><%
}else{
  %>
  <div class="options"><a href="/personal"><img class="btn" src="assets/images/arts_btn.png"/></a>
  <a href="/"><img class="btn" src="assets/images/index_btn.png"/></a></div>
  <%
}

%>

上傳底圖：
<input type="file" id="canvas-bg-image" accept="image/*"/>
<input type="button" id="up-bg-img" onclick="upBgImg();" value="上傳" /><br/>

上傳小圖：
<input type="file" id="canvas-up-image" accept="image/*"/>
<input type="button" id="up-img" onclick="upImg();" value="上傳" /><br/>
<img id="preview" src=""> //測試完後會拿掉


<script>
/*-----------------上船底圖---------------------*/

$("#canvas-bg-image").on("change", function(event) {

  var file = event.target.files[0];
  var reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = function(arg) {

  var backgroundImage = new Image();
  backgroundImage.src = arg.target.result;
  console.log('SSSSS: '+backgroundImage);

  console.log(backgroundImage.width);
  var testimg = document.getElementById('testimg'); //拿掉
  console.log("test:"+testimg); //拿掉

  var canvas = document.getElementById('c');
  var preview = document.getElementById('preview'); //拿掉


  var width = backgroundImage.width;
  var height = backgroundImage.height;
  var context = canvas.getContext('2d');

  var MAX_WIDTH = 550;
  var MAX_HEIGHT = 400;

  if (width > height) {
    if (width > MAX_WIDTH) {
      height *= MAX_WIDTH / width;
      width = MAX_WIDTH;
    }
  } else {
    if (height > MAX_HEIGHT) {
      width *= MAX_HEIGHT / height;
      height = MAX_HEIGHT;
    }
  }


    var dataUrl = canvas.toDataURL('image/jpeg', quality);
    preview.src = dataUrl;

    var resizedImg = new Image();
    resizedImg.src = dataUrl;
    console.log("RRR:"+resizedImg.src);


    lc = LC.init(
        document.getElementById('lc'),
        {
          backgroundShapes: [
            LC.createShape(
              'Image', {x: 20, y: 20, image: backgroundImage, scale: 2}),
            LC.createShape(
              'Text', {
                x: 200, y: 200, text: "I am in the background",
                font: "bold 12px Helvetica"
              })
          ]
        });



  };

});




</script>



<script src="./dist/lrz.bundle.js"></script>
<script>

/*-----------------上船小圖---------------------*/
$("#canvas-up-image").on("change", function(event) {



  var file = event.target.files[0];
  var reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = function(arg) {

  var upImage = new Image();
  upImage.src = arg.target.result;
  console.log('sssss');
  console.log(upImage.src);
  console.log(upImage.width);
  lc.saveShape(LC.createShape('Image', {x: 100, y: 100, image: upImage}));

  };

});





</script>

<div class="fs-container">
      <div id="lc"></div>
    </div>


    <!-- you really ought to include react-dom, but for react 0.14 you don't strictly have to. -->
    <script src="assets/js/react-0.14.3.js"></script>
    <script src="assets/js/literallycanvas.js"></script>

    <script type="text/javascript">
      var lc = LC.init(document.getElementById("lc"), {
        imageURLPrefix: 'assets/plugins/lc-images',
        toolbarPosition: 'bottom',
        defaultStrokeWidth: 2,
        strokeWidths: [1, 2, 3, 5, 30]
      });

      console.log(lc);

      $("#lc canvas").attr("id","c");



    </script>





<form class="controls export" name="upload-img-work">
<table>
<tr><td>取個名字：</td><td><input type="text" name="img-work-name" id="img-work-name" size="54"/></td><tr>
<tr><td>加點敘述：</td><td><textarea rows="4" cols="50" name="img-work-content" id="img-work-content" form="upload-img-work"></textarea></td><tr>
</table>
  <input class="export" type="submit" data-action="export-as-png" value="Export as PNG">
</form>

<script type="text/javascript">

//---------------------------------輸出圖片--------------------
//寫死user---->testABC
var uName = "<%=uName%>";
var uAccount = "<%=uAccount%>";


    console.log('gggg');
    $('.controls.export [data-action=export-as-png]').click(function(e) {

    if(uAccount == ""){
      alert("請先登入!");
    }else{

    var wName = document.getElementById('img-work-name').value;
    var wContent = document.getElementById('img-work-content').value;
    console.log(wName);
    console.log(wContent);
    e.preventDefault();
      //window.open(lc.getImage().toDataURL());
      console.log("NAURLLLLL:"+lc.getImage());
      console.log("URLLLLL:"+lc.getImage().toDataURL());


     var img = new Firebase("https://supercp-a8e9e.firebaseio.com/images/"+uAccount);
     var index_img = new Firebase("https://supercp-a8e9e.firebaseio.com/total");

   img.push({
      date: Firebase.ServerValue.TIMESTAMP,
      base64: lc.getImage().toDataURL(),
      uName: "<%=uName%>",
      wName: wName,
      uId: <%=uNum%>,
      wContent: wContent
   });
   index_img.push({
      date: Firebase.ServerValue.TIMESTAMP,
      base64: lc.getImage().toDataURL(),
      uName: "<%=uName%>",
      wName: wName,
      uId: <%=uNum%>,
      wContent: wContent
   });
    }
      

});

</script>