<script src="../public/assets/js/jquery.js"></script>
<script src="../public/assets/js/jquery.ui.widget.js"></script>
<script src="../public/assets/js/jquery.fileupload.js"></script>
<link rel="stylesheet" href="../public/assets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
<style>
div.header a{
  text-decoration:none;
  color:#000;
}
.work{
	width:800px;
	margin:0px auto;
	text-align:center;
}
.work-img{
	margin:0px auto;
	float:left;
	margin-right:10px;
}
.work-info{
	margin:0px auto;
	float:left;
	text-align:left;
}
img.work-pic{
	cursor:default;
}
</style>
<%if(uNum == ""){
  %><div class="options"><a href="/register"><img class="btn" src="../public/assets/images/sign_btn.png"/></a> 
<a href="/login"><img class="btn" src="../public/assets/images/login_btn.png"/></a></div><%
}else{
  %>
  <div class="options"><a href="/personal/?id=<%=uNum%>"><img class="btn" src="../public/assets/images/arts_btn.png"/></a>
  <a href="/logout"><img class="btn" src="../public/assets/images/logout_btn.png"/></a>
  <a href="/painter"><img class="btn" src="../public/assets/images/paint_btn.png"/></a></div><%
 }%>
<div class="work">
	<div class="work-img">
		<img class="work-pic" src="<%=img%>">
	</div>
	<div class="work-info">
		作品名稱：<%=wName%><br/>
		作品描述：<%=wContent%><br/>
		作者：<a href="../personal/?id=<%=authorId%>"><%=authorName%></a><br/>
		日期：<%=date%>
	</div>
	<div class="clear"></div>
</div>